<div class="text-center">
    <h3 style="margin-top: 0px">Fast geschafft!</h3>
    <label>Um dir eine Bestätigung zu schicken und dich im Notfall zu Erreichen brauchen wir noch deine E-Mail-Adresse und deine Handynummer</label>
</div>


<div class="form-group" style="width: 300px;margin-left: auto;margin-right: auto;margin-top: 10px">
    <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
        <input class="form-control" placeholder="E-Mail-Adresse" name="email" type="text" ng-model="formData.email" autofocus required>
    </div>
</div>
<div class="form-group" style="width: 300px;margin-left: auto;margin-right: auto">
    <div class="input-group">
                <span class="input-group-addon">
				    <i class="glyphicon glyphicon-earphone"></i>
                </span>
        <input class="form-control" placeholder="Handynummer" name="handy" type="text" ng-model="formData.handy" required="">
    </div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger">Abschicken</button>
</div>
