<div class="form-group">
    <label for="herkunft">Herkunft</label>
    <input type="text" class="form-control" name="herkunft" placeholder="Geografischer Durchschnitt" ng-model="formData.herkunft">
</div>

<div class="form-group">
    <label for="alter">Alter Gesamt?</label>
    <input type="text" class="form-control" name="alter" placeholder="Alle drei zusammen" ng-model="formData.alter">
</div>

<div class="form-group">
    <label for="teilnahme">Schon mal teilgenommen?</label>
    <input type="text" class="form-control" name="teilnahme" placeholder="Wenn ja, welche Platzierung?" ng-model="formData.teilnahme">
</div>

<div class="form-group">
    <label for="wetterwunsch">Wetterwunsch</label>
    <select style="width: 50%;" name="wetterwunsch" class="form-control" ng-model="formData.wetterwunsch" ng-options="o for o in wetter"></select>
</div>

<div class="form-group">
    <label for="warum">Warum gewinnt Euer Team?</label>
    <input type="text" class="form-control" name="warum" ng-model="formData.warum">
    <a ui-sref="form.submit" class="btn btn-block btn-info" style="width: 100px;margin-top: 10px;margin-left: auto">
        Weiter <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>