<div class="form-group">
    <label for="spieler1">Spieler 1</label>
    <input type="text" class="form-control" name="name" ng-model="formData.spieler1" required>
</div>

<div class="form-group">
    <label for="spieler2">Spieler 2</label>
    <input type="text" class="form-control" name="name" ng-model="formData.spieler2" required>
</div>

<div class="form-group">
    <label for="spieler3">Spieler 3</label>
    <input type="text" class="form-control" name="name" ng-model="formData.spieler3" required>
    <a ui-sref="form.team" class="btn btn-block btn-info" style="width: 100px;margin-top: 10px;margin-left: auto">
        Weiter <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>